.login {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: -120px;
	height: 100vh;
}

h2 {
	text-align: center;
	font-size: 75px;
}



canvas {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

form {
	color: #ffffff;
	min-width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #02B075;
	padding: 20px;
	border-radius: 10px;
}

.form-group {
	width: 100%;
}

input[type=submit] {
	width: 20%;
	border: none;
	border-radius: 10px;
	background-color: #202125;
	color: #ffffff;
}

a {
	cursor: pointer;
}