body {
	position: relative;
}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(315deg, rgba(255,255, 255, 0) 0%, rgba(255,255, 255, 0) 74%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 20px 0 20px;
}

nav {
	display: flex;
	justify-content: space-around;
}

nav a {
	margin: 10px;
	border-radius: 10px;
	color: #7ff3bc;
	font-size: 1.2em;
	border: 1px solid #7ff3bc;
	padding: 5px;
	font-weight: bold;
	transition: 0.5s;
}

nav a:hover {
	margin: 10px;
	border-radius: 10px;
	color: #7ff3bc;
	font-size: 1.2em;
	border: 1px solid #7ff3bc;
	padding: 5px;
	font-weight: bold;
}

.collapseView  nav a {
	margin: 10px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1.2em;
	border: 1px solid #ffffff;
}

.collapseView  nav a:hover {
	margin: 10px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 1.2em;
	border: 1px solid #ffffff;
}

h1 {
	transition: 0.25s;
}

.fullView h1 {
	 font-size: 72px;
	  background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 95%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

.collapseView h1 {
	font-size: 40px;
	color: #ffffff;
	-webkit-text-fill-color: #ffffff;
}

.collapseView span {
	display: none;
}


.collapseView {
	background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

footer {
	height: 75px;
	text-align: center;
	background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}