body {
	position: relative;
}

header {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
	background: linear-gradient(315deg, rgba(255,255, 255, 0) 0%, rgba(255,255, 255, 0) 74%);
}

nav {
	display: flex;
	justify-content: space-around;
}

h1 {
	transition: 1s;
}

.fullView h1 {
	 font-size: 72px;
	  background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
}

.collapseView h1 {
	font-size: 40px;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background: linear-gradient(315deg, #fff 0%, #fff 74%);
}

.collapseView {
	background: -webkit-linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}