@charset "UTF-8";

.trailer { 
    float: left;
    height: 345px;
    width: 420px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 150px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 1px 1px 17px -2px #727272;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "contenttitle"
        "contentdescription";    
}

.movie-image {
	float:left;    
    height: 345px;
    width: 420px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-top: 150px;
    margin-left: 10px;
    color: #ffffff;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 1px 1px 17px -2px #727272;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "contenttitle"
        "contentdescription";    
}

.movie-desc {
    float: left;
    height: 345px;
    width: 420px;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 150px;
    text-align: center;
    color: #ffffff;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 1px 1px 17px -2px #727272;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "contenttitle"
        "contentdescription";    
}

.user-list {
    position: relative;  
    height: 345px;
    width: 420px;
    border-radius: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
    color: #ffffff;
    background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    box-shadow: 1px 1px 17px -2px #727272;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-areas:
        "contenttitle"
        "contentdescription";    
}

.image{
max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}


.movie-text{
	margin: auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
line-height: 28px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
}

.user-text{
	margin: auto;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
line-height: 28px;

color: #FFFFFF;
}


.gabe-section{
position: absolute;
width: 420px;
height: 345px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
}

button {
	background-color: #a4508b;
    display: inline-block;
    width: 200px;
    height: 30px;
}


