@charset "UTF-8";


.movie-detail {
	height: 100vh;
	position: relative;
	display: grid;
	grid-template-columns: 1fr 0.5fr 2fr;
	grid-template-rows: 1fr 0.5fr 0.5fr 1fr;
	grid-template-areas: 
	"image desc desc",
	"image desc desc",
	"image trailer trailer",
	"image trailer trailer"
}

h2 {
	font-size: 2em;
}

.trailer { 
	grid-area: trailer;
  	border: none;
  	position: absolute;
  	right: 5%;
  	bottom: 10%;
  	width: 60%;
  	height: 60%;
}

.movie-image {
	grid-area: image;
	position: absolute;
	z-index: -1;
	top: 50px;
	height: 70%;
}

.movie-text {
	grid-area: desc;
	position: absolute;
	background-color: #a4508b;
    background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);
    padding: 10px 10px 200px 150px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    width: 80%;
    height: 50%;
    right: 0;
    z-index: -2;
}

.toggle-favorite-button {
	position: absolute;
	bottom: 10%;
	left: 10%;
} 

.like {
	cursor: pointer;
	font-size: 2em;
	margin: 10px;
	border-radius: 10px;
	color: #7ff3bc;
	border: 1px solid #7ff3bc;
	padding: 10px;
	font-weight: bold;
	transition: 0.25s;
}

.dislike {
	cursor: pointer;
	font-size: 2em;
	margin: 10px;
	border-radius: 10px;
	color: #fe1919;
	border: 1px solid #fe1919;
	padding: 10px;
	font-weight: bold;
	transition: 0.25s;
}

.toggle-favorite-button .dislike:hover {
	color: #fe1919;
	text-decoration: none;
}

.toggle-favorite-button .like:hover {
	color: #7ff3bc;
	text-decoration: none;
}

.user-image {
	height: 150px;
	border: 1px solid #ffffff;
	border-radius: 50%;
}

.user-card {
	margin: 10px 0 10px 0;
	color: #ffffff;
	background-color: #4dbeff;
	border-radius: 10px;
	display: flex;
	padding: 10px 100px 10px 100px;
	justify-content: space-around;
	flex-direction: row-reverse;
	align-items: center;
	transition: 0.25s;
	background-image: linear-gradient(315deg, #4dbeff 0%, #009ffd 74%);
}

.user-card:hover {
	text-decoration: none;
	color: #ffffff;
	transform: scale(1.01);
}

h5 {
	font-size: 3em;
}

h3 {
	font-size: 2em;
	color: #ffffff;
}



